@import "../../../assets/font/fonts.css";

.grid{
    width: calc(100% - 6%);
    display: flex;
    flex-flow: row;
    max-height: calc(100% - 45% - 50px - 50px);
    min-height: calc(100% - 55% - 50px - 50px - 3%);
    margin: 1% 3%;
    margin-top: 2%;
    font-family: "Averta1", sans-serif;
}

.grid a{
    display: flex;
    flex-flow: column;
    min-width: calc(25% - 30px);
    width: calc(25% - 30px);
    border: 0;
    padding: 5px;
    background-color: white;
    margin: 10px;
}

.grid a ul{
    padding-left: 25px;
    font-size: 1.0rem;
}

.grid a:hover,
.grid a:focus,
.grid a:active {
    margin: 0;
    min-width: calc(25% - 30px);
    width: calc(25% - 30px);
    padding: 15px;
}

.card h3 {
    margin: 0;
    font-size: 20px;
    color: black;
    text-align: center;
    font-style: italic;
    font-family: "AvertaBold1", sans-serif;
    line-height: 20px;
    max-height: 20%;
}

.card p {
    margin: 0;
    font-size: 1.0rem;
    color: #888888;
    border: #6A78F9;
}
.numCard{
    font-size: 2.0rem;
    color: #000000;
    font-style: italic;
    font-weight: bold;
    font-family: "AvertaBold1", sans-serif;
}

.vol__content{
    max-height: calc(100% - 20% - 10px);
    min-height: calc(100% - 20% - 10px);
    display: flex;
    align-items: center;
}