@import "../../../../assets/font/fonts.css";

.file{
     height: calc(100% - 8px);
     min-height: calc(100% - 8px);
     min-width: 16.65%;
     font-family: "Roboto", sans-serif;
 }

.file__graph{
    height: calc(92% - 5px);
    min-height: calc(92% - 5px);
    width: calc(100% - 5px);
    min-width: calc(100% - 5px);
    display: flex;
    margin: 2.5px;
    border: 0;
    background-color: inherit;
    padding: 0;
}

 .file__date{
     font-size: 15px;
     text-align: center;
 }

 .file__col{
     text-align: center;
     border: 0;
     background-color: #D2D2FD;
     border-radius: 20px 20px 0px 0px;
     font-size: 1.0rem;
 }

.file__graph:hover,
.file__graph:focus{
    height: calc(98% - 5px - 5px);
    min-height: calc(98% - 5px - 5px);
    background-color: white;
    padding-top: 20px;
    box-shadow: 0 0 5px #B2B2B2;
    border-radius: 20px;
}

.file__graph:hover .file__col,
.file__graph:focus .file__col {
     background-color: #6A78F9;
     border-radius: 20px 0 20px 20px;
 }

 .file__col:active{
     background: black;
 }