@import "../../../../assets/font/fonts.css";

.file{
     height: 100%;
     min-height: 100%;
     width: 17%;
    font-family: "Roboto", sans-serif;
 }

.file__graph{
    height: 95%;
    min-height: 95%;
    width: 100%;
    min-width: 100%;
    display: flex;
}

 .file__date{
     font-size: 15px;
     text-align: center;
 }

 .file__col{
     border: 0;
 }

 .file__col:hover,
 .file__col:focus {
     border: 1px #6A78F9 solid;
 }

 .file__col:active{
     background: black;
 }