.filelist__all{
    height: 90%;
    min-height: 90%;
    display: flex;
    flex-flow: row;
    min-width: 90%;
    padding:  0 3%;

}
.filelist__headerstat{
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: flex-end;
    margin-left: 5%;
}
.filelist{
    min-height: 45%;
    height: 45%;
    min-width: 100%;
}

.filelist__name{
    margin-left: 20px;
    font-size: 25px;
    margin-bottom: 5px;
}

.filelist__date{
    display: flex;
    flex-flow: row;
    margin-right: 2%;
}

.filelist__header{
    min-height: 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.filelist__date__center{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.filelist__date__left, .filelist__date__right{
    background-color: inherit;
    border: 0;
}

