input{
    min-height: 50px;
    min-width: calc(100% - 14px);
    border: #B2B2B2 solid 2px;
    border-radius: 10px;
    margin-bottom: 4%;
    font-size: 70%;
    color: #747474;
    padding-left: 2%;
}