h2{
    color: #6A78F9;
    margin-bottom: 0;
}

p, span{
    min-width: 100%;
    font-size: 20px;
    margin: 5px;
}

.registration__header, .fa__header{
    min-width: 100%;
    font-size: 20px;
    text-align: left;
    margin: 5px;
}

.container__reg{
    height: calc(100vh - 7vh);
    width: 56%;
    margin-left: auto;
    margin-right: auto;
}

.registration, .fa{
    display: flex;
    min-height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.registration__div__btn{
    width: 100%;
}

.registration__btn, .fa__btn{
    color: #ffffff;
    background-color: #6A78F9;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    border: #6A78F9 2px solid;
    border-radius: 25px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

.registration__btn:hover,
.registration__btn:focus,
.registration__btn:active,
.fa__btn:hover,
.fa__btn:focus,
.fa__btn:active{
    background-color: white;
    color: #747474;
    cursor: pointer;
}
